<!--
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Users</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.gender}}</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
-->

<div class="card">
   
    <div class="card-body">
    <data-table
      [title]="'Users'"
      [items]="users"
      [itemCount]="itemCount"
      [showReloading]="true"
      [pagination]="true"
      [indexColumn]="false"
      [selectColumn]="false"
      [page]="1"
      [limit]="limit"
      (reload)="reloadItems($event)">
      <data-table-column
        [property]="'first_name'"
        [header]="'First Name'"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        property="last_name"
        header="Last Name"
        [sortable]="true">
      </data-table-column>
      <data-table-column
        property="gender"
        header="Gender">
      </data-table-column>
      <data-table-column
        property="email"
        header="Email"
        [sortable]="true">
      </data-table-column>
    </data-table>
  </div>
</div>