<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
      <i class="fa fa-th-large"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <span class="dropdown-item dropdown-header">Crunch Cubes</span>
      <div class="dropdown-divider"></div>
      <a a routerLink='/profile' class="dropdown-item">
         Profile
      </a>
      <div class="dropdown-divider"></div>
      <a a routerLink='/settings' class="dropdown-item">
        Settings
      </a>
      <div class="dropdown-divider"></div>
      <a [routerLink]="['/auth/logout']" class="dropdown-item dropdown-footer">Log Out</a>
    </div>
  </li>