<section class="content">
    <div class="container-fluid">
            <!-- general form elements disabled -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Create New Task</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Task Name</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                      <label>Task Description</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                    <!-- select -->
                    <div class="form-group">
                      <label>Project</label>
                      <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div><!-- /.container-fluid -->
          </section>