<section class="content">
    <div class="container-fluid">
            <!-- general form elements disabled -->
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Create New Task</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Task Name</label>
                      <input type="text" class="form-control" placeholder="Enter ..." [formControl]="taskNameControl">
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                      <label>Task Description</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                    <!-- select -->
                    <div class="form-group">
                      <label>Project</label>
                      <select class="form-control select2" style="width: 100%;">
                          <option *ngFor="let project of projects">{{project.projectName}}</option>
                        </select>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                      <button type="submit" class="btn btn-primary" (click)="addTask()"><i class="fa fa-save"></i> Save</button>
                    </div>
                    <button type="reset" class="btn btn-default" [routerLink]="['/task']"><i class="fa fa-times"></i> Cancel</button>
                  </div>
              </div>
              <!-- /.card -->
            </div><!-- /.container-fluid -->
          </section>